---
import Logo3D from "@components/Logo/Logo3D";
import Main from "@layouts/main.astro"

const colorTable = {
    Vue: ["#41B883", "https://vuejs.org"],
    React: ["#00d8ff", "https://reactjs.org/"],
    ラブライブ: [
        "#e4007f",
        "https://love-live.fandom.com/wiki/Main_Page",
    ],
    Kotlin: ["#F88909", "https://kotlinlang.org/"],
    Golang: ["#00ADD8", "https://golang.org/"],
    Svelte: ["#ff3e00", "https://svelte.dev"],
    ETH: ["#8c92b2", "https://ethereum.org/"],
    IPFS: ["#69c4cd", "https://ipfs.io/"],
    Arch: ["#1793D1", "https://archlinux.org"],
    本: ["#ff0000", ""],
    TOH: ["#AF6F2C", "https://theowlhouse.fandom.com"],
    Amphibia: ["#11A77D", "https://amphibia.fandom.com/wiki/Amphibia_Wiki"]
};
const colorText = (input: String): String => {
    var finalStr = input;
    for (var [key, [color, link]] of Object.entries(colorTable)) {
        if (input.includes(key)) {
            finalStr = finalStr.replace(
                key,
                `<a rel="noopener noreferrer" style="color: ${color}" href="${link}" target="_blank">${key}</a>`
            );
        }
    }
    return finalStr;
};

const currentBirthdayIdol = {
    name: "Takami Chika",
    color: "#f0a20b",
    birthday: "8/1"
}
---

<Main>
    <div class="flex flex-col lg:flex-row items-center justify-center md:grid-cols-2 min-h-screen space-y-4">
        <div class="w-[350px] h-[450px] lg:hidden block">
            <img width="350" src='/logo/logo2020.svg'>
        </div>
        <div class="mx-16 space-y-2">
            <h1 class="text-6xl mb-4 pb-4">
                <span>Hi, I'm</span>
                <span class="text-gradient-treelar cursor-pointer">Treelar</span>
            </h1>
            <h2 class="text-4xl" set:html={colorText("日本語勉強中")}></h2>
            <h2 class="text-4xl" set:html={colorText("Svelte / Vue over React")}></h2>
            <h2 class="text-4xl" set:html={colorText("ラブライブ / TOH / Amphibia")}></h2>
            <h2 class="text-4xl" set:html={colorText("I use Arch btw")}></h2>
            {
                currentBirthdayIdol ? 
                <h2 id="idolBirthday" class="text-3xl md:text-4xl pb-4 truncate" style={`color: ${currentBirthdayIdol.color}`}>
                    Happy Birthday {currentBirthdayIdol.name}!
                </h2> : null
            }
        </div>
        <div class="w-[450px] h-[450px] hidden lg:block">
            <!-- <Logo3D client:only="react"/> -->
            <Logo3D client:visible/>
        </div>
    </div>
</Main>
