---
import {marked} from "marked"

export interface Props {
    projectData: {
        title?: string;
        description?: string;
        img?: string;
        links?: string[];
    }
}

const {projectData} = Astro.props

const descriptionHTML = marked(projectData.description)
---

<div class="w-10/12 mx-auto p-8 my-16 shadow-xl bg-gray-800 rounded-sm">
    <div class="flex flex-col lg:flex-row mb-4">
        {
            projectData.img ? <img
                src={projectData.img}
                class="w-32 mx-auto pb-4 object-contain lg:order-last lg:mx-2 lg:h-full"
                alt={projectData.title+' logo'} /> : null
        }
        <div>
            <h1 class="text-4xl underline mb-4">{projectData.title}</h1>
            <div class="text-2xl" set:html={descriptionHTML}></div>
        </div>
        <div class="flex-grow"></div>
    </div>
    <div
        class="flex items-center justify-end h-full mt-4 border-t-4 border-blue-500"
    >
        {(projectData.links || []).map(link => (
            <a
                class="text-2xl font-bold mx-2 mt-4 underline"
                v-for="link of links"
                href={link.split('=')[1]}
                rel="noopener"
                target="_blank"
            >{link.split("=")[0]}</a>
        )) }
    </div>
</div>